<!DOCTYPE html>
<html> 
	<head>
		<title>Social Content Sharing | <%= @title %></title>
	</head>
	<body>
		<h1>Social Content Sharing App</h1>
		<p>
			This is the home page for the Social Content Sharing App. More info. coming soon......
		</p>
	</body>

</html>
